/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Gruppo', cursive; /* See index.html for font import*/
    font-size: 1.05em;
}

nav li{
    display: inline-block;
    list-style: none;
}

nav a{
    color: black;
}

nav a:hover{
    opacity:0.5;
}